@use '../../../common';
@use 'sass:color';

$titleHeight:36;
$contentHeight:25;
$contentLineNumber:2; // 内容框能容纳的行数
$buttonWidth: 100;
$buttonHeight: 35;
$buttonFontSize: 20;
$buttonFontColor: #fff;
$buttonBgColor : #1976d2;

$_buttonBorderRadius: $buttonWidth * 0.08;

.taskInputForm {
    @include common.flex($flex-direction:column);
    padding-bottom: 10px;
    border-bottom: 1px solid #6c757d;

    &__taskTitle {
        @include common.flex;
        @include common.lineBox($titleHeight * 1px);
        margin-bottom: 10px;

        .taskTitleInput {
            @include common.flex(1, 1);
            font-size: 0.8em;
        }
    }

    &__taskContent {
        @include common.flex;
        margin-bottom: 10px;

        .taskContentInput {
            @include common.flex(1, 1);
            @include common.lineBox($contentHeight * $contentLineNumber * 1px, $contentHeight * 1px);
        }
    }

    &__taskTime {
        @include common.flex;
        margin-bottom: 10px;
    }

    .taskInputLabel {
        @include common.flex($flex-basis:auto);
        width: 100px;
    }
}


.taskInputFormBtn {
    @include common.button(
        $buttonWidth * 1px,
        $buttonHeight * 1px,
        '',
        $buttonFontColor,
        $buttonBgColor
    );
    margin-bottom: 10px;
    align-self: flex-end;
    
    &--new::after {
        content: '添加';
    }

    &--update::after {
        content: '更新';
    }

    &--cancel::after {
        content: '取消';
    }
}
