@use '../../../common';
@use 'sass:color';

$todoTaskFontColor : #6c757d;
$actionButtonWidth : 100;
$titleHeight : 28;
$timeHeight  : 18;
$contentHeight : 23;
$statusColorOfNew  : #2ae0c8;
$statusColorOfDone : #e3c887;
$statusColorOfExpired : #6c757d;


.todoTask{
    display: flex;
    color : $todoTaskFontColor;
    border-bottom: 1px solid $todoTaskFontColor;

    &>.todoTask__status {
        @include common.flex($flex-basis:auto);
        align-self: center;
        width: 40px;
        height: 40px;
        border-radius: 5px;

        &--new {
            background-color: $statusColorOfNew;
        }

        &--done {
            background-color: $statusColorOfDone;
        }

        &--expired {
            background-color: $statusColorOfExpired;
        }
    }

    &__main {
        padding : 16px;
        flex-grow: 1;
        cursor: pointer;
    }

    &__title {
        @include common.lineBox($titleHeight * 1px);
        color: color.adjust($todoTaskFontColor, $red:-30, $green:-30, $blue:-30);
    }

    &__startTime {
        @include common.lineBox($timeHeight * 1px);
        display: flex;
        align-items: center;

        @at-root .startTime__content {
            &::before {
                content : 'From';
                padding-right: 1em;
            }
        }
    }

    &__endTime {
        @include common.lineBox($timeHeight * 1px);
        display: flex;
        align-items: center;

        @at-root .todoTask__endTime {
            &::before {
                content: 'To';
                padding-right: 1em;
            }
        }
    }

    &__content {
        @include common.lineBox(auto, $contentHeight * 1px)
    }

    &__action {
        @include common.flex($flex-basis:auto, $flex-direction:column, $justify-content: center);
        width: $actionButtonWidth * 1px;

        &__btn {
            margin-bottom: 10px;

            &--done {
                @include common.button(
                    100%,
                    35px,
                    '标记为已完成',
                    inherit,
                    #e3c887
                );
            }

            &--delete {
                @include common.button(
                    100%,
                    35px,
                    '删除',
                    inherit,
                    #fe6673
                );
            }

            &--new {
                @include common.button(
                    100%,
                    35px,
                    '标记为未完成',
                    inherit,
                    #2ae0c8
                );
            }
        }
    }
}

.startTime--today {
    display: flex;
    margin-left: 10px;
    height: $timeHeight * 1px;
    color : #2ae0c8;

    &::after {
        display: block;
        content: 'Today';
    }

    &>.icon__today {
        @include common.icon_calendar($timeHeight * 1px);
    }
}
