.todoList {
    padding: 16px;

    &__header {
        display: flex;
        
        margin-top: 10px;
        padding-bottom: 8px;
        border-bottom: 1px solid #6c757d;;

        &::before {
            content: 'LIST';
        }
    }
}

.task__filter, .task__order {
    margin-left: 16px;
}
