.todoList {
    padding: 16px;
}

.todoList__header {
    margin-top: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #6c757d;;
    display: flex;
}

.todoList__header::before {
    content: 'LIST';
}

.task__filter, .task__order {
    margin-left: 16px;
}
