@use 'common';
$appContainerWidth : 434;
$headerIconSize : 48;
$headerBgColor : #6f42c1;
$headerIconFontColor : #fff;

.appContainer {

    width: $appContainerWidth * 1px;
    margin: 0 auto;

    &__header {
        @include common.lineBox($headerIconSize * 1px);
        display: flex;
        flex-basis: 0;
        align-items: center;
        padding: 10px;
        background-color: $headerBgColor;
        border-radius: 5px;
        color: $headerIconFontColor;

        &_icon {
            border: 2px solid $headerIconFontColor;
            border-radius: 10px;
            width: $headerIconSize * 1px;
            height: $headerIconSize * 1px;
            text-align: center;

            &::after {
                content: 'Do';
                display: block;
                @include common.lineBox($headerIconSize * 1px);
                font-style: normal;
                font-size: 30px;
            }
        }
    }
}

.header__content {
    margin-left: 30px;
    font-size: 20px;
}